node_modules
.turbo
.next
dist
.cache
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode
minio-data
postgres-data
redis-data
.vercel
*.tsbuildinfo
apps/web/.next
apps/api/dist
apps/worker/dist
uploads
.pnpm-store
dump.rdb
apps/web/test-results
apps/web/playwright-report
apps/web/blob-report
apps/web/e2e/.auth
